name: Run e2e-tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'  # Runs every Monday at midnight
  pull_request:
    paths:
      - '**'
      - '!.github/workflows/**'
      - '.github/workflows/e2e-tests.yaml'
      - '!.gitignore'
      - '!.golangci.yaml'
      - '!AGENTS.md'
      - '!CODE_OF_CONDUCT.md'
      - '!CONTRIBUTING.md'
      - '!COPYING'
      - '!COPYING.LESSER'
      - '!README.md'
      - '!SECURITY.md'
      - "!authd-oidc-brokers/po/**"
      - "!authd-oidc-brokers/.gitignore"
      - '!docs/**'
      - '!examplebroker/**'
      - '!gotestcov'

env:
  DEBIAN_FRONTEND: noninteractive
  VM_NAME_BASE: e2e-runner
  ARTIFACTS_DIR: /tmp/e2e-artifacts
  E2E_TESTS_DIR: authd-oidc-brokers/e2e-tests

jobs:
  provision-vm:
    name: Provision and cache Ubuntu VM for the E2E tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    strategy:
      matrix:
        release: [noble, questing]
      fail-fast: false
    steps:
      - name: Restore cached VM image (if available)
        id: restore-cache
        uses: actions/cache/restore@v4
        with:
            path: ${{ env.ARTIFACTS_DIR }}/${{ env.VM_NAME_BASE }}-${{ matrix.release }}.qcow2
            key: e2e-runner-${{ matrix.release }}
            fail-on-cache-miss: false

      - name: Checkout repo
        if: steps.restore-cache.outputs.cache-hit != 'true'
        uses: actions/checkout@v4

      - uses: canonical/desktop-engineering/gh-actions/common/dpkg-install-speedup@main
        if: steps.restore-cache.outputs.cache-hit != 'true'

      - name: Install APT dependencies for VM provisioning
        if: steps.restore-cache.outputs.cache-hit != 'true'
        run: ./${{ env.E2E_TESTS_DIR }}/vm/install-provision-deps.sh

      - name: Set up SSH keys for the VM provisioning
        id: set-ssh-keys
        if: steps.restore-cache.outputs.cache-hit != 'true'
        uses: ./.github/actions/e2e-tests/set-up-ssh-keys
        with:
          E2E_VM_SSH_PRIV_KEY: ${{ secrets.E2E_VM_SSH_PRIV_KEY }}
          E2E_VM_SSH_PUB_KEY: ${{ secrets.E2E_VM_SSH_PUB_KEY }}

      - name: Provision the base E2E Ubuntu VM
        id: provision-vm
        if: steps.restore-cache.outputs.cache-hit != 'true'
        run: |
          set -eu

          # Configure PATH to find sudo virsh wrapper
          sudo chmod +x "${{ env.E2E_TESTS_DIR }}/vm/helpers/virsh"
          export PATH="$(realpath "${{ env.E2E_TESTS_DIR }}/vm/helpers"):${PATH}"

          # Set up temporary directory for VM artifacts
          mkdir -p ${{ env.ARTIFACTS_DIR }}

          env VM_NAME_BASE="${{ env.VM_NAME_BASE }}" \
            RELEASE="${{ matrix.release }}" \
            ARTIFACTS_DIR="${{ env.ARTIFACTS_DIR }}" \
            SSH_PUBLIC_KEY_FILE="${{ steps.set-ssh-keys.outputs.keys-path }}/id_rsa.pub" \
            ./${{ env.E2E_TESTS_DIR }}/vm/provision-ubuntu.sh

      - name: Clean previous cache
        if: always() && steps.provision-vm.outcome == 'success'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
        run: |
          set -eu
          gh cache delete e2e-runner-${{ matrix.release }} || true
          echo "Previous cache (if any) deleted"

      - name: Cache the VM image
        uses: actions/cache/save@v4
        if: always() && steps.provision-vm.outcome == 'success'
        with:
          path: ${{ env.ARTIFACTS_DIR }}/${{ env.VM_NAME_BASE }}-${{ matrix.release }}.qcow2
          key: e2e-runner-${{ matrix.release }}

      - name: Upload cache as artifact
        if: steps.provision-vm.outcome == 'success' || steps.restore-cache.outputs.cache-hit == 'true'
        uses: actions/upload-artifact@v6
        with:
          name: e2e-runner-${{ matrix.release }}
          path: ${{ env.ARTIFACTS_DIR }}/${{ env.VM_NAME_BASE }}-${{ matrix.release }}.qcow2

  run-tests-authd-msentraid:
    name: Run e2e-tests for authd-msentraid broker
    runs-on: ubuntu-latest
    needs: provision-vm
    permissions:
      contents: read
      actions: write
    strategy:
      matrix:
        release: [noble, questing]
      fail-fast: false
    steps:
    - name: Download the artifact VM image
      uses: actions/download-artifact@v5
      with:
        name: e2e-runner-${{ matrix.release }}
        # We need only to specify the directory, the file will be downloaded there with the provided name
        path: ${{ env.ARTIFACTS_DIR }}

    - name: Checkout repo
      uses: actions/checkout@v4

    - uses: canonical/desktop-engineering/gh-actions/common/dpkg-install-speedup@main

    - name: Install APT dependencies for provisioning
      run: ./${{ env.E2E_TESTS_DIR }}/vm/install-provision-deps.sh

    - name: Set up SSH keys for the VM provisioning
      id: set-ssh-keys
      uses: ./.github/actions/e2e-tests/set-up-ssh-keys
      with:
        E2E_VM_SSH_PRIV_KEY: ${{ secrets.E2E_VM_SSH_PRIV_KEY }}
        E2E_VM_SSH_PUB_KEY: ${{ secrets.E2E_VM_SSH_PUB_KEY }}

    - name: Provision authd and the broker
      run: |
        set -eux

        # Configure PATH to find sudo virsh wrapper
        sudo chmod +x "${{ env.E2E_TESTS_DIR }}/vm/helpers/virsh"
        export PATH="$(realpath "${{ env.E2E_TESTS_DIR }}/vm/helpers"):${PATH}"

        # Configure the libvirt domain file
        template="./${{ env.E2E_TESTS_DIR }}/vm/e2e-runner-template.xml"
        IMAGE_FILE=${{ env.ARTIFACTS_DIR }}/${{ env.VM_NAME_BASE }}-${{ matrix.release }}.qcow2 \
          VM_NAME=${{ env.VM_NAME_BASE }}-${{ matrix.release }} \
          envsubst < "${template}" > "${{ env.ARTIFACTS_DIR }}/${{ env.VM_NAME_BASE }}.xml"

        env ARTIFACTS_DIR="${{ env.ARTIFACTS_DIR }}" \
          SSH_PUBLIC_KEY_FILE="${{ steps.set-ssh-keys.outputs.keys-path }}/id_rsa.pub" \
          VM_NAME_BASE="${{ env.VM_NAME_BASE }}" \
          RELEASE="${{ matrix.release }}" \
          BROKERS="authd-msentraid" \
          AUTHD_MSENTRAID_ISSUER_ID="${{ secrets.E2E_MSENTRA_ISSUER_ID }}" \
          AUTHD_MSENTRAID_CLIENT_ID="${{ secrets.E2E_MSENTRA_CLIENT_ID }}" \
          AUTHD_MSENTRAID_USER="${{ secrets.E2E_MSENTRA_USERNAME }}" \
          ./${{ env.E2E_TESTS_DIR }}/vm/provision-authd.sh

    - name: Checkout YARF repo
      uses: actions/checkout@v5
      with:
        # TODO: Update this once the changes are merged upstream
        repository: adombeck/yarf
        path: ./${{ env.E2E_TESTS_DIR }}/.yarf

    - name: Install APT dependencies for running the E2E tests
      run: ./${{ env.E2E_TESTS_DIR }}/install-deps.sh

    - name: Configure YARF
      run: ./${{ env.E2E_TESTS_DIR }}/setup-yarf.sh

    - name: Run tests
      id: run-tests
      run: |
        set -eux

        # Configure PATH to find sudo virsh wrapper
        sudo chmod +x "${{ env.E2E_TESTS_DIR }}/vm/helpers/virsh"
        export PATH="$(realpath "${{ env.E2E_TESTS_DIR }}/vm/helpers"):${PATH}"

        ./${{ env.E2E_TESTS_DIR }}/run-tests.sh \
          --user "${{ secrets.E2E_MSENTRA_USERNAME }}" \
          --password "${{ secrets.E2E_MSENTRA_PASSWORD }}" \
          --totp-secret "${{ secrets.E2E_MSENTRA_TOTP_SECRET }}" \
          --release "${{ matrix.release }}" \
          --broker authd-msentraid \
          --output-dir /tmp/e2e-testrun-msentraid-${{ matrix.release }}/output

    - name: Upload test results
      id: upload-results
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: e2e-msentraid-output-${{ matrix.release }}-${{ github.run_id }}
        path: /tmp/e2e-testrun-msentraid-${{ matrix.release }}/output

  run-tests-authd-google:
    name: Run e2e-tests for authd-google broker
    runs-on: ubuntu-latest
    needs: provision-vm
    permissions:
      contents: read
      actions: write
    strategy:
      matrix:
        release: [noble, questing]
      fail-fast: false
    steps:
    - name: Download the artifact VM image
      uses: actions/download-artifact@v5
      with:
        name: e2e-runner-${{ matrix.release }}
        # We need only to specify the directory, the file will be downloaded there with the provided name
        path: ${{ env.ARTIFACTS_DIR }}

    - name: Checkout repo
      uses: actions/checkout@v4

    - uses: canonical/desktop-engineering/gh-actions/common/dpkg-install-speedup@main

    - name: Install APT dependencies for provisioning
      run: ./${{ env.E2E_TESTS_DIR }}/vm/install-provision-deps.sh

    - name: Set up SSH keys for the VM provisioning
      id: set-ssh-keys
      uses: ./.github/actions/e2e-tests/set-up-ssh-keys
      with:
        E2E_VM_SSH_PRIV_KEY: ${{ secrets.E2E_VM_SSH_PRIV_KEY }}
        E2E_VM_SSH_PUB_KEY: ${{ secrets.E2E_VM_SSH_PUB_KEY }}

    - name: Provision authd and the authd-google broker
      run: |
        set -eux

        # Configure PATH to find sudo virsh wrapper
        sudo chmod +x "${{ env.E2E_TESTS_DIR }}/vm/helpers/virsh"
        export PATH="$(realpath "${{ env.E2E_TESTS_DIR }}/vm/helpers"):${PATH}"

        # Configure the libvirt domain file
        template="./${{ env.E2E_TESTS_DIR }}/vm/e2e-runner-template.xml"
        IMAGE_FILE=${{ env.ARTIFACTS_DIR }}/${{ env.VM_NAME_BASE }}-${{ matrix.release }}.qcow2 \
          VM_NAME=${{ env.VM_NAME_BASE }}-${{ matrix.release }} \
          envsubst < "${template}" > "${{ env.ARTIFACTS_DIR }}/${{ env.VM_NAME_BASE }}.xml"

        env ARTIFACTS_DIR="${{ env.ARTIFACTS_DIR }}" \
          SSH_PUBLIC_KEY_FILE="${{ steps.set-ssh-keys.outputs.keys-path }}/id_rsa.pub" \
          VM_NAME_BASE="${{ env.VM_NAME_BASE }}" \
          RELEASE="${{ matrix.release }}" \
          BROKERS="authd-google" \
          AUTHD_GOOGLE_CLIENT_ID="${{ secrets.E2E_GOOGLE_CLIENT_ID }}" \
          AUTHD_GOOGLE_CLIENT_SECRET="${{ secrets.E2E_GOOGLE_CLIENT_SECRET }}" \
          AUTHD_GOOGLE_USER="${{ secrets.E2E_GOOGLE_USERNAME }}" \
          ./${{ env.E2E_TESTS_DIR }}/vm/provision-authd.sh

    - name: Checkout YARF repo
      uses: actions/checkout@v5
      with:
        # TODO: Update this once the changes are merged upstream
        repository: adombeck/yarf
        path: ./${{ env.E2E_TESTS_DIR }}/.yarf

    - name: Install APT dependencies for running the E2E tests
      run: ./${{ env.E2E_TESTS_DIR }}/install-deps.sh

    - name: Configure YARF
      run: ./${{ env.E2E_TESTS_DIR }}/setup-yarf.sh

    - name: Run tests
      id: run-tests
      run: |
        set -eux

        # Configure PATH to find sudo virsh wrapper
        sudo chmod +x "${{ env.E2E_TESTS_DIR }}/vm/helpers/virsh"
        export PATH="$(realpath "${{ env.E2E_TESTS_DIR }}/vm/helpers"):${PATH}"

        ${{ env.E2E_TESTS_DIR }}/run-tests.sh \
          --user "${{ secrets.E2E_GOOGLE_USERNAME }}" \
          --password "${{ secrets.E2E_GOOGLE_PASSWORD }}" \
          --release "${{ matrix.release }}" \
          --totp-secret "${{ secrets.E2E_GOOGLE_TOTP_SECRET }}" \
          --broker authd-google \
          --output-dir /tmp/e2e-testrun-google-${{ matrix.release }}/output

    - name: Upload test results
      id: upload-results
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: e2e-google-output-${{ matrix.release }}-${{ github.run_id }}
        path: /tmp/e2e-testrun-google-${{ matrix.release }}/output
