name: TICS QA Analysis

on:
    schedule:
        - cron: '0 0 * * 1'  # Runs every Monday at midnight
    workflow_dispatch:


env:
  DEBIAN_FRONTEND: noninteractive
  build_dependencies: >-
    clang-tools
    clang
    libglib2.0-dev
    libpam-dev
    libpwquality-dev
    rustup

jobs:
    tics:
        name: TIOBE TICS Framework
        runs-on: [self-hosted, amd64, tiobe, noble]
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-go@v6
              with:
                go-version-file: go.mod

            - uses: canonical/desktop-engineering/gh-actions/common/dpkg-install-speedup@main
            - name: Install dependencies
              run: |
                set -eu

                sudo apt-get update
                sudo apt-get install -y ${{ env.build_dependencies }}

                go install honnef.co/go/tools/cmd/staticcheck@latest

            - name: Update Rust version
              run: |
                rustup update stable

            - uses: canonical/desktop-engineering/gh-actions/go/generate@main
              with:
                tools-directory: ./tools

            - name: Fetch last successful QA run id
              env:
                GITHUB_TOKEN: ${{ github.token }}
              run: |
                set -eu
                echo "LAST_QA_ID=$(gh run list --workflow 'authd QA & sanity checks' --limit 1 --status success --json databaseId -b main | jq '.[].databaseId')" >> $GITHUB_ENV

            - name: Download coverage artifact
              uses: actions/download-artifact@v7
              with:
                github-token: ${{ github.token }}
                path: .artifacts/
                run-id: ${{ env.LAST_QA_ID }}

            - name: Build artifacts
              run: |
                set -eu

                # Move coverage to expected directory
                mkdir coverage
                mv .artifacts/coverage/Cobertura.xml coverage/coverage.xml

                # TICS needs to build the artifacts in order to run the analysis.
                # Since it uses the GOTOOLCHAIN=local stanza, it's better if we prebuild it to make sure that the Go
                # toolchain setup by the action is properly updated to the one we defined in go.mod. Prebuilding also
                # helps to speed up the TICS analysis, as we would already have the build cache populated.
                find pam -name '*.so' -print -delete
                go build ./cmd/authd
                go -C ./authd-oidc-brokers build -o authd-vanilla ./cmd/authd-oidc
                go -C ./authd-oidc-brokers build -tags=withmsentraid -o authd-msentraid ./cmd/authd-oidc
                go -C ./authd-oidc-brokers build -tags=withgoogle -o authd-google ./cmd/authd-oidc

            - name: TICS Analysis
              uses: tiobe/tics-github-action@v3
              with:
                mode: qserver
                project: authd
                branchdir: .
                viewerUrl: https://canonical.tiobe.com/tiobeweb/TICS/api/cfg?name=GoProjects
                ticsAuthToken: ${{ secrets.TICSAUTHTOKEN }}
                installTics: true
